---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Paul, a technophile from the United States.
        <br />
        My preferred tools are:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>svelte</li>
        <li>Good ol' HTML</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond my love of everything tech, in terms of my professional life, I have found fulfillment in the aluminum can manufacturing industry. It is a career that I truly enjoy and find rewarding.
    </p>
    <p class="text-sm font-light">
      Additionally, I am proud to say that I am a recovering addict, demonstrating my strength and determination in overcoming challenges. Through my experiences and interests, I continue to grow and strive for personal and professional success.
    </p>
  </div>
</Card>