---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h1><u>Now/Status</u></h1><br>
     
    </div>
    <Pulse />
  </div>
  <p class="text-xs"  style="color: rgb(0, 255, 0);"><b>Finishing up a few projects.</b></p><br>
  <p class="text-xs" style="color: rgb(0, 255, 0);"><b>Learning Python.</b></p>
  <br>
  </Card>
